.modal--header {
    background: #F1FFFC;
    height: 44px;
}

.medicine--button {
    width: 122px;
    height: 32px;
    background: rgba(44, 195, 164, 0.16);
    border: 1px solid #1A957B;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #1A957B;
    float: right;
}

.transaction-container {
    background: #F8F8FF;
    box-shadow: 0px 3px 15px rgba(186, 186, 186, 0.12);
    border-radius: 12px;
}

.transaction-title {
    font-weight: 700;
    font-size: 14px;
    color: #23466A;
}

.transaction-value {
    color: #1D1D1D;
    font-weight: 400;
    font-size: 14px;
}

.transaction-date {
    color: #787878;
    font-weight: 400;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.cancel--button, .cancel--button:hover {
    color: #1A957B;
    background: rgba(44, 195, 164, 0.16);
    border: 1px solid #1A957B;
    border-radius: 4px;
}

.accept--button, .accept--button:hover {
    color: #FFFFFF;
    background: #2CC3A4;
    border-radius: 4px;
}